html,
body {
    height: 100%;
    }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    }
.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    }
  
.button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    }